/*--------------------------------------------------------------
8.0 Buttons
--------------------------------------------------------------*/
.primaryBtn{
	position: relative;
	z-index: 1;
  font-family: $cabin;
  font-size: 18px;
	font-weight: 700;
  text-decoration: none;
	border: 2px solid $brandColor;
	border-radius: 10px;
	background: $brandColor;
	padding: 5px 25px 5px 25px;
	color: $white;
	-webkit-transition: .3s ease;
	transition: .3s ease;
	cursor: pointer;
  white-space: nowrap;
  &:hover{
    background: $white;
  	color: $brandColor;
  	-webkit-transition: .3s ease;
  	transition: .3s ease;
  }
}
.primaryBtnAlt{
	position: relative;
	z-index:1;
  font-family: $cabin !important;
	font-weight: 700 !important;
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: none;
	border: 2px solid $black;
	background: $black;
	padding: 10px 25px;
	color: $white !important;
	-webkit-transition: .3s ease !important;
	transition: .3s ease !important;
	cursor: pointer;
  white-space: nowrap;
    &:hover{
      background: $black;
			border: 2px solid $black;
			box-shadow: 0 6px 18px 0 rgba(0,0,0,.5);
    	-webkit-transition: .3s ease;
    	transition: .3s ease;
			color: $white;
    }
}
.plainLink {
	text-decoration: none;
	color: $brandColor;
	font-weight: 700;
	-webkit-transition: .2s ease;
	transition: .2s ease;
}
.centerButton{
	margin: 0 auto;
	text-align: center;
}
button{
	background-color: $transparent;
	border: none;
}
.btnContainer{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	-ms-flex-direction: column;
	    flex-direction: column;
			margin-bottom: 25px;
    @include breakpoint(largeMobileScreen){
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
    }
}
.noDecoration {
	&:after {
		width: 0;
	}
}
