/*--------------------------------------------------------------
2.0 Variables
--------------------------------------------------------------*/
/*******************************************************************
Color Variables
*******************************************************************/
$brandColor: #112671;
$black: #303030;
$white: #FFFFFF;
$lightGrey: #f6f6f6;
$transparent: rgba(0,0,0,0);

/*******************************************************************
Font Variables
*******************************************************************/
$cabin: almaq-rough, sans-serif;
$cabin: 'Cabin', sans-serif;
